@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sansita+Swashed:wght@300..900&display=swap")
layer(base);
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-sansita: "Sansita Swashed", serif;
  --color-brown-bg: lch(71.48% 35.29 74.47);
  --color-brown-fg: lch(79.16% 24.02 69.2);
  --color-brown-text: lch(16.71% 12.78 53.11);
  --color-brown-border: lch(16.71% 12.78 53.11);
  --color-brown-hover: lch(79.16% 11.4 69.2);
}

.dropdown-item-styles {
  @apply hover:bg-brown-border hover:text-brown-fg;
}

.dropdown-link-styles {
  @apply flex items-start gap-2 h-full w-full pt-0.5;
}

.button-styles {
  @apply bg-brown-bg text-brown-text hover:bg-brown-border hover:text-brown-fg p-2 rounded-lg min-w-20;
}
